/* DEBUT INITIALISATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIN INITIALISATION */

/*DEBUT AJOUTER LES POLICES */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
/* FIN AJOUTER LES POLICES */

/* DEBUT VARIABLE */
:root {
    /* DEBUT FONT */
    /* DEBUT FONT-FAMILY */
    --FF-INTER: "Inter", sans-serif;
    --FF-POPPINS: "Poppins", sans-serif;
    --FF-ROBOTO: "Roboto", sans-serif;
    /* FIN FONT-FAMILY*/
    
    /* DEBUT FONT-SIZE */
    --FS-FIELD: 1rem;
    --FS-LABEL: 0.875rem;
    --FS-LOGO: 1.25rem;
    --FS-NAME-SITE: 2rem;
    --FS-NAME-USER: 1.25rem;
    --FS-NAV: 0.75rem;
    --FS-SIDEBAR: 0.9rem;
    --FS-TITRE-FORM: 1.125rem;
    --FS-TITRE-PAGE: 1.25rem;
    /* FIN FONT-SIZE */

    /* DEBUT FONT-WEIGHT */
    --FW-BTN: 500;
    --FW-FIELD: 400;
    --FW-LABEL: 500;
    --FW-LOGO: 700;
    --FW-NAME-SITE: 500;
    --FW-NAME-USER: 500;
    --FW-NAV: 500;
    --FW-SIDEBAR: 500;
    --FW-TITRE-PAGE: 400;
    --FW-TITRE-FORM: 400;
    /* FIN FONT */

    /* DEBUT COULEUR */
    --BLACK: rgba(67, 72, 75, 1);
    --DARK: rgba(0, 0, 0, 1);
    --DARK-GREY: rgba(201, 202, 207, 1);
    --GOLD: rgba(152, 126, 60, 1);
    --GOLD-LIGHT: rgba(152, 126, 60, 0.25);
    --GREY: rgba(249, 250, 251, 1);
    --WHITE: rgba(255, 255, 255, 1);
    /* FIN COULEUR */

    /* DEBUT DISTANCE */
    /* DEBUT PADDING */
    --PG-BT-MAIN: 9rem;
    --PG-FIELD: 0.8rem;
    --PG-LT-DROPDOWN: 2rem;
    --PG-LT-RT-CONTENT: 2.5rem;
    --PG-LT-RT-NAV: 1rem;
    --PG-SIDEBAR: 1rem;
    --PG-TOP-BT-LOGO: 2rem;
    --PG-TOP-BT-HEADER: 0.5rem;
    --PG-TOP-BT-NAV: 0.5rem;
    --PG-TOP-MAIN: 1rem;
    /* FIN PADDING */

    /* DEBUT MARGIN */
    --MG-RT-LINK: 1rem;
    --MG-TOP-FORM: 1rem;
    --MG-TOP-SECTION: 1rem;
    /* FIN MARGIN */

    /* DEBUT GAP */
    --GAP-FIELD: 0.5rem;
    --GAP-FIELDS: 1rem;
    --GAP-FORM: 1rem;
    /* FIN GAP */

    /* DEBUT WIDTH */
    --WD-BTN: 25%;
    --WD-FIELD: 100%;
    --WD-FIELDS: 30%;
    /* FIN WIDTH */
    /* FIN DISTANCE */

    /* DEBUT BORDURE */
    --BORDER-BT: 2px solid var(--GREY);
    --BORDER-BTN: 1px solid var(--GOLD);
    --BORDER-FIELD: 1px solid var(--DARK-GREY);
    --BORDER-RADIUS: 5px;
}

/* DEBUT STYLES GENERALS */
body {
    display: flex;
    height: 100vh;
}

img {
    width: 100%;
}

    /* DEBUT HEADER */
header {
    align-items: center;
    border-bottom: var(--BORDER-BT);
    color: var(--DARK);
    display: flex;
    font-family: var(--FF-INTER);
    justify-content: space-between;
    padding: var(--PG-TOP-BT-HEADER) var(--PG-LT-RT-CONTENT);   
}

header h1 {
    font-size: var(--FS-NAME-SITE);
    font-weight: var(--FW-NAME-SITE);
}

header p {
    font-size: var(--FS-NAME-USER);
    font-weight: var(--FW-NAME-USER);
}
    /* FIN HEADER */

    /* DEBUT MAIN */
main {
    padding: var(--PG-TOP-MAIN) var(--PG-LT-RT-CONTENT) var(--PG-BT-MAIN) var(--PG-LT-RT-CONTENT);
}
        /* DEBUT NAVIGATION */
.nav-bar {
    background-color: var(--BLACK);
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PG-TOP-BT-NAV) var(--PG-LT-RT-NAV);
}

.nav-bar__link {
    color: var(--WHITE);
    display: inline-block;
    font-family: var(--FF-INTER);
    font-size: var(--FS-NAV);
    font-weight: var(--FW-NAV);
    margin-right: var(--MG-RT-LINK);
    padding: var(--PG-TOP-BT-NAV) var(--PG-LT-RT-NAV);
    text-decoration: none;
}

.nav-bar__link:last-child {
    margin-right: 0;
}

.nav-bar__link:hover {
    background-color: var(--WHITE);
    border-radius: var(--BORDER-RADIUS);
    color: var(--BLACK);
}
        /* FIN NAVIGATION */
        /* DEBUT FORMULAIRE */
.field {
    display: flex;
    flex-direction: column;
    gap: var(--GAP-FIELD);
    width: var(--WD-FIELDS);
}

label {
    font-family: var(--FF-ROBOTO);
    font-size: var(--FS-LABEL);
    font-weight: var(--FW-LABEL);
}

input, select {
    border: var(--BORDER-FIELD);
    border-radius: var(--BORDER-RADIUS);
    font-family: var(--FF-ROBOTO);
    font-size: var(--FS-FIELD);
    font-weight: var(--FW-FIELD);
    padding: var(--PG-FIELD);
    outline: none;
    width: var(--WD-FIELD);
}

input {
 background-color: var(--GREY);
}

select {
    background-color: var(--WHITE);
}
            /* DEBUT BTN*/
input[type="submit"],
input[type="reset"] {
    border: var(--BORDER-BTN);
    font-family: var(--FF-INTER);
    font-weight: var(--FW-BTN);
    width: var(--WD-BTN);
}

input[type="submit"] {
    background-color: var(--GOLD);
    color: var(--WHITE);
}

input[type="reset"],
.btn-add-user__key-generator[type="submit"] {
    background-color: var(--WHITE);
    color: var(--GOLD);
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--GOLD-LIGHT);
    color: var(--GOLD);
}
            /* FIN BTN */
        /* FIN FORMULAIRE */
    /* FIN MAIN */
.content {
    flex-grow: 1; 
    margin-left: 250px; /* PERMET DE DEPLACER LE CONTENT DE LA SIDE-BAR  */
}
/* FIN STYLES GENERALS */

/* DEBUT SIDE-BAR */
.side-bar {
    background-color: var(--GREY);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    left: 0;
    position: fixed; /* position: sticky */
    top: 0;
    width: 250px;
}

    /* DEBUT LOGO */
.logo {
    align-items: center;
    color: var(--GOLD);
    display: flex;
    justify-content: center;
    padding: var(--PG-TOP-BT-LOGO) 0;
}

.logo figcaption {
    width: 57px;
}

.logo p {
    font-family: var(--FF-POPPINS);
    font-size: var(--FS-LOGO);
    font-weight: var(--FW-LOGO);
    margin-left: 0.5rem;
}
    /* FIN LOGO */

    /* DEBUT GESTION-COURRIER, GESTION-UTILISATEUR */
.gestion-courrier ul,
.gestion-utilisateur ul {
    list-style: none;
}

.gestion-courrier li a,
.gestion-utilisateur li a {
    color: var(--BLACK);
    display: block;
    font-family: var(--SIDEBAR-FF);
    font-size: var(--FS-SIDEBAR);
    font-weight: var(--FW-SIDEBAR);
    padding: var(--PG-SIDEBAR);
    text-decoration: none;
}

.gestion-courrier ul li a:hover,
.gestion-utilisateur ul li a:hover {
    background-color: var(--GOLD-LIGHT);
    color: var(--GOLD);
}
    /* FIN GESTION-COURRIER, GESTION-UTILISATEUR */

    /* DEBUT DROPDOWN */
.gestion-courrier__dropdown {
    display: none;
}
.gestion-courrier__dropdown li a {
    padding-left: var(--PG-LT-DROPDOWN);
}

.gestion-courrier ul li:hover .gestion-courrier__dropdown {
    display: block;
}
    /* FIN DROPDOWN */

/* FIN SIDE-BAR */

/* DEBUT PAGE AJOUTER PROFIL*/
.page-content-add-profil {
    margin-top: var(--MG-TOP-SECTION);
}

.page-content-add-profil h2 {
    color: var(--DARK);
    font-family: var(--FF-ROBOTO);
    font-size: var(--FS-TITRE-PAGE);
    font-weight: var(--FW-TITRE-PAGE);
}
    /* DEBUT FORMULAIRE AJOUTER PROFIL */
.form-add-profil {
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--FF-ROBOTO);
    gap: var(--GAP-FORM);
    margin-top: var(--MG-TOP-FORM);
}

.form-add-profil h3 {
    font-size: var(--FS-TITRE-FORM);
    font-weight: var(--FW-TITRE-FORM);
}
        /* DEBUT CHAMPS FORMULAIRE AJOUTER PROFIL */
.fields-add-profil {
    display: flex;
    flex-flow: row wrap;
    gap: var(--GAP-FIELDS);
}
        /* FIN CHAMPS FORMULAIRE AJOUTER PROFIL */
        /* DEBUT BTN AJOUTER PROFIL */
.btn-add-profil, .btn-add-user {
    display: flex;
    gap: var(--GAP-FIELDS);
}
        /* FIN BTN AJOUTER PROFIL */
    /* FIN FORMULAIRE AJOUTER PROFIL*/
/* FIN PAGE AJOUTER PROFIL */

/* DEBUT PAGE AJOUTER UTILISATEUR */

/* FIN PAGE AJOUTER PROFIL */